<% include header %>
<div class = 'row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <h1><%= title %></h1>
    <p>Cache Valley is a unique place in which to live and work.  We are a college town with a
population that swells each autumn as eager young minds flock to campus to fill their heads with
idealistic utopian theories which they can then share with us through protests, marches, sit-ins
and Rock The Vote.  At least, until they graduate and have to get real jobs.  And pay bills. And
taxes.  Rachel, from the classic sitcom “Friends” commented on seeing her first-ever paycheck,
“Who is FICA and why are they taking all my money?”</p>
    <p>My grown daughter calls is “adulting.”  As in, I’m not ready to adult yet.  Yes, idealism crashes
to the linoleum apartment kitchen floor when we realize that a Welsh Cultures major does not
qualify us for gainful employment.  Burdened with fifty grand in debt, we move back in with our
parents, vote for any candidate that promises hope and change, and complain about the elite not
paying their fair share.</p>
    <p>But the point of this blog is not to philosophize on the merits of capitalism, the excesses of Wall
Street, or the failed dream of Socialism.  No, we’re going to discuss food.  With maybe some
philosophy thrown in.  Once you’ve scraped together enough loose change from the laundromat
or sold your plasma, you now want to Go Out to Eat.  A very adult thing to do.  But where to go?
You’ve got one shot at this—you gave your blood for this meal!  A bad dining experience not
only wrecks your wallet but also can change the course of the evening. Maybe even your life.</p>
    <p>I’m a food person.  I love to cook and I love to eat.  I’ve traveled around the world sampling
different cuisine.  I don’t have any favorites but I will confess to liking the taste of animals more
than plants. I will eat the green stuff, but I probably won’t go out of my way to do so. You can
take my advice, my counsel, or you can ignore me at your gastronomic and financial peril.</p>
    <p>Which brings me back to Cache Valley.  Let’s face it, we are not the culinary capital of the
world. We’re not even the culinary capital of Utah. Our heritage is that of pioneers and farmers.
Even those of us who transplanted here tend to adopt the local mannerisms and tastes. We say
“moun-un” and “Lay-un”. In church they talk about avoiding “Say-un.” The letter “T” is optional
in Cache Valley.</p>
    <p>Good food is also optional in Cache Valley.  The longest lines on a Friday night are at Chili’s
and Olive Garden. Not bad choices, but not exactly a dining experience either.  We are cheap in
Cache Valley.  There is a price point that just won’t work here.  Oh, we will go to Market Street
Grill in Salk Lake or Maddox in Brigham to spend big money on a meal, but anything “in town”
better be a value.</p>
    <p>where to look. So, rather than have you waste your time and money searching every little strip
mall sandwich shop for that perfect meal, I will do it for you.  Then write about it.  Unvarnished.
I will find us the best burger, the best taco, the best Italian, the best Chinese. I will eat at the hole
in the wall, order the most expensive steak, and visit any new places.  I will take friends so I can
eat off their plate and get a better sample size.  I will look at atmosphere, cost, value, quality,
freshness, originality and service.</p>
    <p>I will use my trusted nom de plum (that’s an “alias” for my Welsh Cultures friends) because,
well, I still have to live here.  And eat here.  I want no special treatment but I also don’t want a
loogie hocked into my burger should I write something that offends.
With all this being said, let us commence.</p>
    <p>Emyn Muil</p>
  </div>
  <div class='col-md-2'></div>
</div>
<% include footer %>
