<% include ../header %>
<form action='/articles/' method='POST'>
  <label name='headline'>Headline</label>
  <br/>
  <input type='text' name='headline'/>
  <br/>
  <label name='article'>Article</label>
  <br/>
  <textarea name='article' rows = 20 cols = 200></textarea>
  <br/>
  <input type='submit'/>
</form>
<% include ../footer %>
